.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.form-row{
    display: flex;
    justify-content: center;
   
}
.formGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.formGroup label {
    margin-right: 5px;
}


.button {
    margin-top: 20px;
    align-self: center;
}
.submit-container{
    text-align: center;  
}